/*html {
  position: relative;
  padding: 0;
  margin: 0;
}*/

body {
  margin: 0;
  padding: 0;
  color: #484848;
  font-size: 14px;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  min-height: 100vh;
}

.container {
  max-width: 1000px;
  margin : 30px auto;
  padding-bottom: 30px;
 
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/*.item {
  flex: 2;
}*/

h4 {
    font-weight: 400;
    font-size: 14px;
}

ul {
  list-style: none;
  padding: 0 10px;
}

@media screen and (min-width: 1000px) {
  .container {
    margin: 1em 2em;
  }
}
